body {
    font-family: Arial, sans-serif;
    background-image: url(bg2.png);
    background-position:center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out; /* Kaydırma animasyonu */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Başlık Stili */
.header {
    background-color: #ff8400;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.header h1 {
    font-size: 28px;
    margin: 0;
}

/* Giriş ve Kayıt Formları */
form {
    padding: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 16px;
    font-size: 16px;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus {
    border-color: #ff8400;
}

form button {
    background-color: #ff8400;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0c0c0c;
}

/* Kayıt Ol Linki */
.register-link {
    text-align: center;
    margin-top: 16px;
}

.register-link a {
    color: #ff8400;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}